# File       : python.snippets
# Date       : Wed Nov 23 20:41:09 2016
# Author     : Fabian Wermelinger
# Description: python snippets
# Copyright 2016 Fabian Wermelinger. All Rights Reserved.
priority 10

snippet python "shebang for python" b
#!/usr/bin/env python$0
endsnippet
