# File       : vimwiki.snippets
# Date       : Thu 10 Nov 2016 07:17:23 PM CET
# Author     : Fabian Wermelinger
# Description: vimwiki snippets
# Copyright 2016 Fabian Wermelinger. All Rights Reserved.
extends tex
