# File       : xml.snippets
# Date       : Fri Oct 28 08:55:20 2016
# Author     : Fabian Wermelinger
# Description: Some custom xml snippets
# Copyright 2016 Fabian Wermelinger. All Rights Reserved.
snippet xml "XML declaration" b
<?xml version="1.0" encoding="utf-8"?>

endsnippet

snippet tii "Inline tag (short)" b
<${1:tag} ${2:content}/>
endsnippet
